mixin groups(groups, options)
	.groups
		each val in groups
			.groups__item(
				class={
					"groups__item_open" : val && val.open,
					"groups__item_active":val && val.active
				}
			)
				a.groups-item(
					href=`#${val.name}` 
					class=val&&val.open ? "groups-item_open":""
					class=val&&val.active ? "groups-item_active":""
				)
					.groups-item__ico
					.groups-item__name= val.name
					svg.groups-item__expand
						use(xlink:href="/img/icons.svg#icon-chevron-thin-right")

				.groups__item__sub
					.groups__item__sub__wrapper
						.groups-sub
							each sub in val.list
								.groups-sub__item
									a.groups-subitem(
										href=`#${sub._id}`
										class=sub.active ? 'groups-subitem_active':''
									)
										.groups-subitem__name= sub.name
					