h1 Что нового:
-
	var news = [
		{date : '23/05', id : 1, alias : 'conditions', title : 'Новые условия', text : 'Мы предоставляем новую упрощенную поцедуру оформления заказа'},
		{date : '16/05', id : 2, alias : 'price', title : 'О доставке', text : 'Новый прайс на доставку'},
		{date : '06/05', id :  3, alias : 'win', title : 'Победа!', text : 'Победа в каком то престижном конкурсе'},
	]
each item in news
	.news(
		data-id=item.id
	)
		.news__date #{item.date}
		a.news__title(
			href="/news/" + item.id + '/' + item.alias
		) #{item.title}
		.news__text #{item.text}