-
	var defaultImage="/img/defaultGoodImage.jpg"

mixin good(goodData)
	.good-item(
		data-id=goodData._id.toString()
		class={
			'good-item_buyed' : goodData.inBasket
		}
	)
		.good-item__first
			.good-item__image
				if goodData.image
					img(src='/'+goodData.image)
				else
					| Нет фото
		.good-item__second
			.good-item__title= goodData.name
			.good-item__description!= goodData.description
			.good-item__cid= goodData.cid
		//
			if goodData.status === 1
				.good-item__status В наличии
			else
				.good-item__status.good-item__status_no Нет в наличии
		.good-item__third
			- var price = goodData.price + ' &#8381;';
			.good-item__price= goodData.price
			.good-item__measure за #{goodData.measure}
			.good-item__counter
				+counter(null,null,true)
			button.good-item__button